*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #12100E 30%, #060563);
    color: white;
    min-width: 100vw;
    min-height: 100vh;
}
.container-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    padding: 20px;
}
.container-links{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}
.lista-links{
  list-style-type: none;
}
.links{
    color: white;
    text-decoration: none;
    transition: 2s;
}
.links:hover{
    color: rgb(12, 12, 255);
    transition: 1s;
}
.container-texto {
    display: flex;
    align-items: center;
}
.container-main{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100vw;
}
.section{
    height: 60%;
    width: 50%;
}

.titulo{
    text-align: center;
}
.container-paragrafo{
    background-color: black;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
}
.footer{
    text-align: center;
    background-color: black;
}